<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="BookMe.com"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET" />
	
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <uses-library android:name="com.google.android.maps" />
        <activity
            android:label="@string/app_name"
            android:name=".BookMeActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="IskanjeO" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" ></activity>
        <activity android:name="IskanjeI" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" ></activity>
        <activity android:name="DodajanjeKnjig" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" ></activity>
        <activity android:name="Rezultat" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" ></activity>
        <activity android:name="IskanjeU" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" ></activity>
        <activity android:name="Gmaps" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" ></activity>
        <activity android:name="InfoActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen" ></activity>
        <activity android:name="Prijava"></activity>
        <activity android:name="Registracija"></activity>
        
    </application>

</manifest>